body {
	font-family: 'SF Pro', 'Inter', -apple-system, BlinkMacSystemFont, Segoe UI,
		Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
		sans-serif;
	font-size: 1em;
	background-color: #ffffff;
	color: #323330;
	line-height: 1.2;
}

h1 {
	margin-bottom: 0.5rem;
	font-size: 22px;
	font-weight: 400;
}

h2 {
	font-size: 1rem;
	font-weight: 400;
}

section {
	margin-bottom: 2rem;
}

p {
	color: #868686;
	font-size: 14px;
}

ul {
	list-style: none;
}

.work > ul {
	padding: 0;
	display: flex;
	flex-direction: column;
}

.experience {
	display: flex;
}

.time {
	flex: 1;
	margin-right: 10px;
}

.position {
	flex: 3;
	text-align: start;
}

.title {
	color: #323330;
}

.title a {
	text-decoration: none;
	color: #323330;
}

.stack {
	color: #5b5b5b;
}

.stack-list {
	color: #5b5b5b;
	display: flex;
	flex-direction: row;
	padding: 0;
}

.stack-list li {
	color: #5b5b5b;
	list-style: disc;
	margin-right: 1rem;
	list-style-position: inside;
}

.stack-list li:first-child {
	color: #5b5b5b;
	list-style: none;
}

.container {
	padding-top: 5rem;
	padding-bottom: 5rem;
	max-width: 500px;
	margin-inline-start: auto;
	margin-inline-end: auto;
}

.name {
	word-wrap: break-word;
	margin-bottom: 2rem;
}

.name > p {
	margin: 0;
}

@media (max-width: 540px) {
	.container {
		padding: 1rem;
	}
}
