html,
body {
  margin: 0;
  height: 100%;
}

body {
  font-family: 'Roboto Condensed', sans-serif;
  color: #323330;
  margin: 0 10rem;
}

footer {
  text-align: center;
}

a {
  text-decoration: none;
  color: #323330;
  font-weight: bold;
}

p,
li {
  font-size: 18px;
}

h3 {
  font-size: 22px;
}

a:hover {
  background-color: #f0db4f;
}

.fab,
.fas {
  font-size: 2rem;
}

.contact-list {
  display: flex;
  flex-direction: row;
  padding: 0;
  list-style: none;
}

.contact-list > li {
  margin: 0 8px;
}

.contact-list > li > a {
  color: #323330;
}

.contact-list > li > a > i:hover {
  background-color: #f0db4f;
}

.title__main {
  width: fit-content;
  background-color: #f0db4f;
}

.title__section {
  width: fit-content;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 5rem;
  }
}

@media screen and (max-width: 425px) {
  body {
    margin: 0 3rem;
  }
}
