html,
body {
	box-sizing: border-box;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #000000;
}

body {
	font-family: 'Familjen Grotesk', 'Open Sans', sans-serif;
	color: #fff;
	max-width: 1000px;
	padding: 64px 56px;
	overflow: hidden;
	text-transform: uppercase;
	letter-spacing: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

a {
	text-decoration: underline;
	color: white;
}

h1 {
	font-family: 'NewGrotesk-MediumMono';
	font-weight: 600;
	font-size: 20px;
	line-height: 32px;
	text-transform: uppercase;
}

p {
	font-family: 'NewGrotesk-RegularMono';
	font-weight: 300;
	font-size: 18px;
	line-height: 32px;
	text-transform: uppercase;
}

@media screen and (max-width: 800px) {
	h1 {
		font-size: 4rem;
	}
}

@font-face {
	font-family: 'NewGrotesk-RegularMono';
	src: url('fonts/NewGrotesk-RegularMono.woff2') format('woff2'),
		url('fonts/NewGrotesk-RegularMono.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'NewGrotesk-MediumMono';
	src: url('fonts/NewGrotesk-MediumMono.woff2') format('woff2'),
		url('fonts/NewGrotesk-MediumMono.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
