html,
body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: scroll;
	background: #ffffff;
}

body {
	font-family: 'Familjen Grotesk', 'Open Sans', sans-serif;
	color: #323330;
	padding: 64px 56px;
	overflow: hidden;
	text-transform: uppercase;
	letter-spacing: 0;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

a {
	text-decoration: none;
	color: #323330;
}

a:hover {
	text-decoration: none;
	background-color: #f0db4f;
	font-weight: bold;
}

a:visited {
	color: #323330;
}

h1 {
	font-family: 'NewGrotesk-MediumMono';
	font-weight: 600;
	font-size: 1.5rem;
	line-height: 1.5rem;
	text-transform: uppercase;
}

h1 > span {
	font-weight: 300;
}

p {
	font-family: 'NewGrotesk-RegularMono';
	font-weight: 300;
	font-size: 17px;
	line-height: 30px;
	text-transform: uppercase;
}

.contacts {
	display: flex;
	align-items: center;
	gap: 10px;
	font-size: 1rem;
}

@media screen and (max-width: 505px) {
	header {
		flex-direction: column;
	}
	h1 {
		font-size: 2rem;
		line-height: 2rem;
		margin-bottom: 0;
	}
}

@font-face {
	font-family: 'NewGrotesk-RegularMono';
	src: url('fonts/NewGrotesk-RegularMono.woff2') format('woff2'),
		url('fonts/NewGrotesk-RegularMono.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: 'NewGrotesk-MediumMono';
	src: url('fonts/NewGrotesk-MediumMono.woff2') format('woff2'),
		url('fonts/NewGrotesk-MediumMono.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}
