{{ with .Site.Author.links }}
<style>
  li {
    margin: 0 2px;
    cursor: pointer;
  }
</style>

<div class="flex flex-col flex-wrap text-neutral-400 dark:text-neutral-500">
  <ul class="flex flex-row">
    <!-- Linguagens e Fundamentos -->
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/html5/html5-plain.svg" alt="HTML5" style="width: 30px; height: 30px;" /></li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/css3/css3-plain.svg" alt="CSS3" style="width: 30px; height: 30px;" />
    </li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/javascript/javascript-original.svg" alt="JavaScript" style="width: 30px; height: 30px;" /></li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/typescript/typescript-original.svg" alt="TypeScript" style="width: 30px; height: 30px;" />
    </li>
    <!--  -->

    <!-- Frameworks e Bibliotecas Principais -->
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angular/angular-original.svg" alt="Angular" style="width: 33px; height: 33px;" />
    </li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/react/react-original.svg" alt="React" style="width: 30px; height: 30px;" />
    </li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jquery/jquery-original.svg" alt="jQuery" style="width: 30px; height: 30px;" />
    </li>
    <!--  -->

    <!-- Gerenciamento de Estado e Dados -->
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/rxjs/rxjs-plain.svg" alt="RxJS" style="width: 30px; height: 30px;" />
    </li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/ngrx/ngrx-original.svg" alt="NgRx" style="width: 30px; height: 30px;" />
    </li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/redux/redux-original.svg" alt="Redux" style="width: 30px; height: 30px;" />
    </li>
    <!--  -->

    <!-- Estilização e Design -->
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/sass/sass-original.svg" alt="Sass" style="width: 30px; height: 30px;" />
    </li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/bootstrap/bootstrap-original.svg" alt="Bootstrap" style="width: 30px; height: 30px;" />
    </li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/angularmaterial/angularmaterial-original.svg" alt="Angular Material" style="width: 30px; height: 30px;" />
    </li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/materialui/materialui-original.svg" alt="Material UI" style="width: 30px; height: 30px;" />
    </li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/tailwindcss/tailwindcss-original.svg" alt="Tailwind CSS" style="width: 30px; height: 30px;" />
    </li>
    <!--  -->

    <!-- Testes -->
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jasmine/jasmine-original.svg" alt="Jasmine" style="width: 30px; height: 30px;" />
    </li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/jest/jest-plain.svg" alt="Jest" style="width: 30px; height: 30px;" />
    </li>
    <!--  -->

    <!-- Backend e Integração -->
    <!-- <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/firebase/firebase-original.svg" alt="Firebase" style="width: 30px; height: 30px;" />
    </li>
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/graphql/graphql-plain.svg" alt="GraphQL" style="width: 30px; height: 30px;" />
    </li> -->
    <!--  -->

    <!-- Controle de Versão -->
    <li>
      <img src="https://cdn.jsdelivr.net/gh/devicons/devicon@latest/icons/git/git-original.svg" alt="Git" style="width: 30px; height: 30px;" />
    </li>
    <!--  -->
  </ul>
</div>
{{ end }}